$font-family: Verdana;
$font-size: 18px;
$color: black;

$fuenteH3: 'Open Sans', sans-serif;
$tamanoFuente: 38px;

$margenSuperior: 100px;
$margenInferior: 100px;
$margenIzquierdo: 50px;
$margenDerecho: 150px;

$colorH3: white;
